# Renombra este archivo a ".env" y rellena los valores.
# Token del bot que te dio @BotFather en Telegram.
TELEGRAM_BOT_TOKEN=

# Tu chat_id en Telegram (lo das con @userinfobot u otro).
TELEGRAM_CHAT_ID=
